<!DOCTYPE html>
{% load static %}

<html lang="en">
<!-- havetic -->
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />

    <title>{% block title %}{% endblock title %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/fav.png' %}"/>

    <!-- WebFont.js' %} -->
    <script>
        WebFontConfig = {
          google: { families: ["Poppins:400,500,600,700,800"] },
        };
        (function (d) {
          var wf = d.createElement("script"),
            s = d.scripts[0];
          wf.src = "{% static 'assets/js/webfont.js' %}";
          wf.async = true;
          s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <link
            rel="preload"
            href="{% static 'assets/vendor/fontawesome-free/webfonts/fa-regular-400.woff2'%}"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
    />
    <link
            rel="preload"
            href="{% static 'assets/vendor/fontawesome-free/webfonts/fa-solid-900.woff2'%}"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
    />
    <link
            rel="preload"
            href="{% static 'assets/vendor/fontawesome-free/webfonts/fa-brands-400.woff2' %}"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
    />
    <link
            rel="preload"
            href="{% static 'assets/fonts/wolmart87d5.woff?png09e' %}"
            as="font"
            type="font/woff"
            crossorigin="anonymous"
    />

    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}"
    />

    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'assets/vendor/animate/animate.min.css' %}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'assets/vendor/magnific-popup/magnific-popup.min.css' %}"
    />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"/>

    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'assets/vendor/nouislider/nouislider.min.css' %}"
    />

    <!-- Default CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/demo1.min.css' %}"/>

    <style>
        a.cart.label-down.link:after {
          display: none;
        }
    </style>

</head>

<body class="home">
<div class="page-wrapper">
    <!-- Start of Header -->
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-left">
                    <p class="welcome-msg">
                        WELCOME TO NEONMARTBD STORE MESSAGE OR REMOVE IT!
                    </p>
                </div>
                <div class="header-right header_right_top">
                    <a href="{% url 'contact_us' %}" class="d-lg-show">Contact Us</a>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'my_account' %}"> My Account</a>
                    {% else %}
                    <a href="{% url 'login' %}"> Login</a>
                    <a href="{% url 'login' %}"> Registration</a>
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- End of Header Top -->

        <div class="header-middle">
            <div class="container">
                <div class="header-left mr-md-4">
                    <a href="#" class="mobile-menu-toggle w-icon-hamburger" aria-label="menu-toggle">
                    </a>
                    <a href="/" class="logo ml-lg-0">
                        <img src="{% static 'assets/images/logo.png' %}" alt="logo" width="144" height="45"/>
                    </a>
                    <form method="get" action="{% url 'search_product' %}"
                          class="header-search hs-expanded hs-round d-none d-md-flex input-wrapper">
                        <div class="select-box">
                            <select id="category">
                                <option value="">All Categories</option>
                                {% for category, subcategories in category_subcategories.items %}
                                <option value="{{ category.id }}">{{ category.name|capfirst }}</option>
                                    {% if subcategories %}
                                        {% for subcategory in subcategories %}
                                            <option value="{{ subcategory.id }}">-{{ subcategory.name|capfirst }}</option>
                                                {% if subcategory.subsubcategory_set.all %}
                                                    {% for subsubcat in subcategory.subsubcategory_set.all %}
                                                        <option value="{{ subsubcat.id }}">--{{ subsubcat.name|capfirst }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <input type="text" class="form-control" name="search" id="search" placeholder="Search in..."
                               required/>
                        <button class="btn btn-search" type="submit">
                            <i class="w-icon-search"></i>
                        </button>
                    </form>
                </div>
                <div class="header-right ml-4">
                    <a class="wishlist label-down link d-xs-show" href="{% url 'wishlist' %}">
                        <i class="w-icon-heart"></i>
                        <span class="wishlist-label d-lg-show">Wishlist</span>
                    </a>

                    <div class="dropdown cart-dropdown cart-offcanvas mr-0 mr-lg-2">
                        <div class="cart-overlay"></div>
                        <a href="{% url 'cart' %}" class="cart label-down link">
                            <i class="w-icon-cart">
                                {% if request.user.is_authenticated %}
                                <span class="cart-count">{{cart|length}}</span>
                                {% endif %}
                            </i>
                            <span class="cart-label">Cart</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Header Middle -->

        <div class="header-bottom sticky-content fix-top sticky-header has-dropdown">
            <div class="container">
                <div class="inner-wrap">
                    <div class="header-left">
                        <div class="dropdown category-dropdown has-border" data-visible="true">
                            <a href="#" class="category-toggle text-dark" role="button" data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="true" data-display="static" title="Browse Categories">
                                <i class="w-icon-category"></i>
                                <span>Browse Categories</span>
                            </a>
                            <div class="dropdown-box">
                                <ul class="menu vertical-menu category-menu">
                                    {% for category, subcategories in category_subcategories.items %}
                                    <li>
                                        <a href="{% url 'shop_page' %}?category={{ category.filtername }}">
                                            <i class="w-icon-tshirt2"></i>{{ category.name }}
                                        </a>
                                        {% if subcategories %}
                                        <ul style="position:absolute ; top:0">
                                            {% for subcategory in subcategories %}
                                            <li>
                                                <a href="{% url 'shop_page' %}?subcategory={{ subcategory.filtername }}">
                                                    {{ subcategory.name|capfirst }}
                                                </a>
                                                {% if subcategory.subsubcategory_set.all %}
                                                <ul>
                                                    {% for subsubcat in subcategory.subsubcategory_set.all %}
                                                    <li>
                                                        <a href="{% url 'shop_page' %}?subsubcategory={{ subsubcat.filtername }}">
                                                            {{ subsubcat.name|capfirst }}
                                                        </a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="header-right">
                        <nav class="main-nav">
                            <ul class="menu active-underline">
                                <li class="{% if navbar == 'home'  %}active{% endif %}">
                                    <a href="{% url 'HOME' %}">Home</a>
                                </li>
                                <li class="{% if navbar == 'shop'  %}active{% endif %}">
                                    <a href="{% url 'shop_page' %}">Shop</a>
                                </li>
                                <li class="{% if navbar == 'about'  %}active{% endif %}">
                                    <a href="{% url 'about' %}">About us</a>
                                </li>

                                <li class="{% if navbar == 'checkout'  %}active{% endif %}">
                                    <a href="{% url 'checkout' %}">Checkout</a>
                                </li>
                                <li class="{% if navbar == 'wishlist'  %}active{% endif %}">
                                    <a href="{% url 'wishlist' %}">Wishlist</a>
                                </li>

                                <li class="{% if navbar == 'contact_us'  %}active{% endif %}">
                                    <a href="{% url 'contact_us' %}">Contact Us</a>
                                </li>

                                <li class="{% if navbar == 'my_account'  %}active{% endif %}">
                                    <a href="{% url 'my_account' %}">My Account</a>
                                </li>
                                <li class="{% if navbar == 'faq'  %}active{% endif %}">
                                    <a href="{% url 'faq' %}">FAQ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End of Header -->
    {% block body %}{% endblock body %}
    <!-- Start of Main-->

    <footer
            class="footer appear-animate"
            data-animation-options="{
            'name': 'fadeIn'
        }"
    >
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="widget widget-about">
                            <a href="#" class="logo-footer">
                                <img
                                        src="{% static 'assets/images/logo.png' %}"
                                        alt="logo-footer"
                                        width="144"
                                        height="45"
                                />
                            </a>
                            <div class="widget-body">
                                <p class="widget-about-title">Got Question? Call us 24/7</p>
                                <a href="tel:12345678" class="widget-about-call"
                                >12345678</a
                                >
                                <p class="widget-about-desc">Follow Us:</p>

                                <div class="social-icons social-icons-colored">
                                    <a
                                            href="#"
                                            class="social-icon social-facebook w-icon-facebook"
                                    ></a>
                                    <a
                                            href="#"
                                            class="social-icon social-twitter w-icon-twitter"
                                    ></a>
                                    <a
                                            href="#"
                                            class="social-icon social-instagram w-icon-instagram"
                                    ></a>

                                    <a
                                            href="#"
                                            class="social-icon social-pinterest w-icon-pinterest"
                                    ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h3 style="text-transform: capitalize" class="widget-title">
                                Company
                            </h3>
                            <ul class="widget-body">
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="#">Team Member</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h4 style="text-transform: capitalize" class="widget-title">
                                My Account
                            </h4>
                            <ul class="widget-body">
                                <li><a href="{% url 'cart' %}">View Cart</a></li>
                                <li><a href="{% url 'login' %}">Sign In</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h4 style="text-transform: capitalize" class="widget-title">
                                Customer Service
                            </h4>
                            <ul class="widget-body">
                                <li><a href="#">Support Center</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Term and Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom" style="justify-content: center !important">
                <p class="copyright" style="text-align: center !important">
                    Copyright by
                    <span style="color: #1c93cb; cursor: pointer">neonmartbd</span>
                </p>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
</div>
<!-- End of Page-wrapper-->

<!-- Start of Sticky Footer -->
<div class="sticky-footer sticky-content fix-bottom">
    <a href="{% url 'HOME' %}" class="sticky-link active">
        <i class="w-icon-home"></i>
        <p>Home</p>
    </a>
    <a href="{% url 'shop_page' %}" class="sticky-link">
        <i class="w-icon-category"></i>
        <p>Shop</p>
    </a>
    <a href="{% url 'my_account' %}" class="sticky-link">
        <i class="w-icon-account"></i>
        <p>Account</p>
    </a>
    <div class="cart-dropdown dir-up">
        <a href="{% url 'cart' %}" class="sticky-link">
            <i class="w-icon-cart"></i>
            <p>Cart</p>
        </a>
        <div class="dropdown-box">
            <div class="products">
                {% if request.user.is_authenticated %}
                {% for cart in cart %}
                <div class="product product-cart">
                    <div class="product-detail">
                        <h3 class="product-name">
                            <a href="#">
                                {{cart.product.name}}
                            </a>
                        </h3>
                        <div class="price-box">
                            <span class="product-quantity">{{cart.quantity}}</span>
                            <span class="product-price">{{cart.product.price}} tk</span>
                        </div>
                    </div>
                    <figure class="product-media">
                        <a href="{% url 'product_details' cart.product.slug %}">
                            <img
                                    src="{{cart.product.image.url}}"
                                    alt="product"
                                    height="84"
                                    width="94"
                            />
                        </a>
                    </figure>
                    <button class="btn btn-link btn-close" aria-label="button">
                        <a href="{% url 'deleteCart' cart.id %}">
                            <i class="fas fa-times"></i>
                        </a>
                    </button>
                </div>
                {% endfor %}


            </div>

            <div class="cart-total">
                <label>Subtotal:</label>
                <span class="price">{{subtotal}}</span>
            </div>
            {% endif %}
            <div class="cart-action">
                <a href="{% url 'cart' %}" class="btn btn-dark btn-outline btn-rounded"
                >View Cart</a
                >
                <a href="{% url 'checkout' %}" class="btn btn-primary btn-rounded"
                >Checkout</a
                >
            </div>
        </div>
        <!-- End of Dropdown Box -->
    </div>

    <div class="header-search hs-toggle dir-up">
        <a href="#" class="search-toggle sticky-link">
            <i class="w-icon-search"></i>
            <p>Search</p>
        </a>
        <form action="#" class="input-wrapper">
            <input
                    type="text"
                    class="form-control"
                    name="search"
                    autocomplete="off"
                    placeholder="Search"
                    required
            />
            <button class="btn btn-search" type="submit">
                <i class="w-icon-search"></i>
            </button>
        </form>
    </div>
</div>
<!-- End of Sticky Footer -->

<!-- Start of Scroll Top -->
<a id="scroll-top" class="scroll-top" href="#top" title="Top" role="button">
    <i class="w-icon-angle-up"></i>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
        <circle
                id="progress-indicator"
                fill="transparent"
                stroke="#000000"
                stroke-miterlimit="10"
                cx="35"
                cy="35"
                r="34"
                style="stroke-dasharray: 16.4198, 400"
        ></circle>
    </svg>
</a>
<!-- End of Scroll Top -->

<!-- Start of Mobile Menu -->
<div class="mobile-menu-wrapper">
    <div class="mobile-menu-overlay"></div>
    <!-- End of .mobile-menu-overlay -->

    <a href="#" class="mobile-menu-close"><i class="close-icon"></i></a>
    <!-- End of .mobile-menu-close -->

    <div class="mobile-menu-container scrollable">
        <form action="#" method="get" class="input-wrapper">
            <input
                    type="text"
                    class="form-control"
                    name="search"
                    autocomplete="off"
                    placeholder="Search"
                    required
            />
            <button class="btn btn-search" type="submit">
                <i class="w-icon-search"></i>
            </button>
        </form>
        <!-- End of Search Form -->
        <div class="tab">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a href="#categories" class="nav-link">Main Menu</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="categories">
                <ul class="mobile-menu">
                    <li><a href="{% url 'HOME' %}">Home</a></li>
                    <li>
                        <a href="{% url 'shop_page' %}">Shop</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About us</a>
                    </li>

                    <li>
                        <a href="{% url 'contact_us' %}">Contact Us</a>
                    </li>

                    <li>
                        <a href="{% url 'cart' %}">Carts</a>
                    </li>

                    <li>
                        <a href="{% url 'my_account' %}">My Account</a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Mobile Menu -->

<!-- Start of Quick View -->
<div class="product product-single product-popup">
    <div class="row gutter-lg">
        <div class="col-md-6 mb-4 mb-md-0">
            <div class="product-gallery product-gallery-sticky">
                <div
                        class="swiper-container product-single-swiper swiper-theme nav-inner"
                >
                    <div class="swiper-wrapper row cols-1 gutter-no">
                        <div class="swiper-slide">
                            <figure class="product-image">
                                <img
                                        src="{% static 'assets/images/products/popup/1-440x494.jpg' %}"
                                        data-zoom-image="{% static 'assets/images/products/popup/1-800x900.jpg' %}"
                                        alt="Water Boil Black Utensil"
                                        width="800"
                                        height="900"
                                />
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="product-image">
                                <img
                                        src="{% static 'assets/images/products/popup/2-440x494.jpg' %}"
                                        data-zoom-image="{% static 'assets/images/products/popup/2-800x900.jpg' %}"
                                        alt="Water Boil Black Utensil"
                                        width="800"
                                        height="900"
                                />
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="product-image">
                                <img
                                        src="{% static 'assets/images/products/popup/3-440x494.jpg' %}"
                                        data-zoom-image="{% static 'assets/images/products/popup/3-800x900.jpg' %}"
                                        alt="Water Boil Black Utensil"
                                        width="800"
                                        height="900"
                                />
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="product-image">
                                <img
                                        src="{% static 'assets/images/products/popup/4-440x494.jpg' %}"
                                        data-zoom-image="{% static 'assets/images/products/popup/4-800x900.jpg' %}"
                                        alt="Water Boil Black Utensil"
                                        width="800"
                                        height="900"
                                />
                            </figure>
                        </div>
                    </div>
                    <button class="swiper-button-next"></button>
                    <button class="swiper-button-prev"></button>
                </div>
                <div
                        class="product-thumbs-wrap swiper-container"
                        data-swiper-options="{
                        'navigation': {
                            'nextEl': '.swiper-button-next',
                            'prevEl': '.swiper-button-prev'
                        }
                    }"
                >
                    <div class="product-thumbs swiper-wrapper row cols-4 gutter-sm">
                        <div class="product-thumb swiper-slide">
                            <img
                                    src="{% static 'assets/images/products/popup/1-103x116.jpg' %}"
                                    alt="Product Thumb"
                                    width="103"
                                    height="116"
                            />
                        </div>
                        <div class="product-thumb swiper-slide">
                            <img
                                    src="{% static 'assets/images/products/popup/2-103x116.jpg' %}"
                                    alt="Product Thumb"
                                    width="103"
                                    height="116"
                            />
                        </div>
                        <div class="product-thumb swiper-slide">
                            <img
                                    src="{% static 'assets/images/products/popup/3-103x116.jpg' %}"
                                    alt="Product Thumb"
                                    width="103"
                                    height="116"
                            />
                        </div>
                        <div class="product-thumb swiper-slide">
                            <img
                                    src="{% static 'assets/images/products/popup/4-103x116.jpg' %}"
                                    alt="Product Thumb"
                                    width="103"
                                    height="116"
                            />
                        </div>
                    </div>
                    <button class="swiper-button-next"></button>
                    <button class="swiper-button-prev"></button>
                </div>
            </div>
        </div>
        <div class="col-md-6 overflow-hidden p-relative">
            <div class="product-details scrollable pl-0">
                <h2 class="product-title">Electronics Black Wrist Watch</h2>
                <div class="product-bm-wrapper">
                    <figure class="brand">
                        <img
                                src="{% static 'assets/images/products/brand/brand-1.jpg' %}"
                                alt="Brand"
                                width="102"
                                height="48"
                        />
                    </figure>
                    <div class="product-meta">
                        <div class="product-categories">
                            Category:
                            <span class="product-category"
                            ><a href="#">Electronics</a></span
                            >
                        </div>
                        <div class="product-sku">SKU: <span>MS46891340</span></div>
                    </div>
                </div>

                <hr class="product-divider"/>

                <div class="product-price">$40.00</div>

                <div class="ratings-container">
                    <div class="ratings-full">
                        <span class="ratings" style="width: 80%"></span>
                        <span class="tooltiptext tooltip-top"></span>
                    </div>
                    <a href="#" class="rating-reviews">(3 Reviews)</a>
                </div>

                <div class="product-short-desc">
                    <ul class="list-type-check list-style-none">
                        <li>Ultrices eros in cursus turpis massa cursus mattis.</li>
                        <li>Volutpat ac tincidunt vitae semper quis lectus.</li>
                        <li>Aliquam id diam maecenas ultricies mi eget mauris.</li>
                    </ul>
                </div>

                <hr class="product-divider"/>

                <div
                        class="product-form product-variation-form product-color-swatch"
                >
                    <label>Color:</label>
                    <div class="d-flex align-items-center product-variations">
                        <a href="#" class="color" style="background-color: #ffcc01"></a>
                        <a href="#" class="color" style="background-color: #ca6d00"></a>
                        <a href="#" class="color" style="background-color: #1c93cb"></a>
                        <a href="#" class="color" style="background-color: #ccc"></a>
                        <a href="#" class="color" style="background-color: #333"></a>
                    </div>
                </div>
                <div
                        class="product-form product-variation-form product-size-swatch"
                >
                    <label class="mb-1">Size:</label>
                    <div
                            class="flex-wrap d-flex align-items-center product-variations"
                    >
                        <a href="#" class="size">Small</a>
                        <a href="#" class="size">Medium</a>
                        <a href="#" class="size">Large</a>
                        <a href="#" class="size">Extra Large</a>
                    </div>
                    <a href="#" class="product-variation-clean">Clean All</a>
                </div>

                <div class="product-variation-price">
                    <span></span>
                </div>

                <div class="product-form">
                    <div class="product-qty-form">
                        <div class="input-group">
                            <input
                                    class="quantity form-control"
                                    type="number"
                                    min="1"
                                    max="10000000"
                            />
                            <button class="quantity-plus w-icon-plus"></button>
                            <button class="quantity-minus w-icon-minus"></button>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-cart">
                        <i class="w-icon-cart"></i>
                        <span>Add to Cart</span>
                    </button>
                </div>

                <div class="social-links-wrapper">
                    <div class="social-links">
                        <div class="social-icons social-no-color border-thin">
                            <a
                                    href="#"
                                    class="social-icon social-facebook w-icon-facebook"
                            ></a>
                            <a
                                    href="#"
                                    class="social-icon social-twitter w-icon-twitter"
                            ></a>
                            <a
                                    href="#"
                                    class="social-icon social-pinterest fab fa-pinterest-p"
                            ></a>
                            <a
                                    href="#"
                                    class="social-icon social-whatsapp fab fa-whatsapp"
                            ></a>
                            <a
                                    href="#"
                                    class="social-icon social-youtube fab fa-linkedin-in"
                            ></a>
                        </div>
                    </div>
                    <span class="divider d-xs-show"></span>
                    <div class="product-link-wrapper d-flex">
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                        ><span></span
                        ></a>
                        <a
                                href="#"
                                class="btn-product-icon btn-compare btn-icon-left w-icon-compare"
                        ><span></span
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Quick view -->

<!-- Plugin JS File -->
<script
        data-cfasync="false"
        src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"
></script>
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery.plugin/jquery.plugin.min.js' %}"></script>
<script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/zoom/jquery.zoom.js' %}"></script>
<script src="{% static 'assets/vendor/jquery.countdown/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/vendor/skrollr/skrollr.min.js' %}"></script>

<!-- Swiper JS -->
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'assets/js/main.min.js' %}"></script>
<script>
    (function () {
      var js =
        "window['__CF$cv$params']={r:'7e80888fd8633df5',m:'Iuqj.reFJ4d7kc1yawQv8o_Y1R7yXBS5IqaU7GjSP9s-1689576445-0-AZtV1juOtf8nc+KahL6v7fbGziYROk0biQ1IOG4uN+wy'};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../../cdn-cgi/challenge-platform/h/b/scripts/jsd/556d0c9f/invisible.js' %}',document.getElementsByTagName('head')[0].appendChild(_cpo);";
      var _0xh = document.createElement("iframe");
      _0xh.height = 1;
      _0xh.width = 1;
      _0xh.style.position = "absolute";
      _0xh.style.top = 0;
      _0xh.style.left = 0;
      _0xh.style.border = "none";
      _0xh.style.visibility = "hidden";
      document.body.appendChild(_0xh);
      function handler() {
        var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;
        if (_0xi) {
          var _0xj = _0xi.createElement("script");
          _0xj.nonce = "";
          _0xj.innerHTML = js;
          _0xi.getElementsByTagName("head")[0].appendChild(_0xj);
        }
      }
      if (document.readyState !== "loading") {
        handler();
      } else if (window.addEventListener) {
        document.addEventListener("DOMContentLoaded", handler);
      } else {
        var prev = document.onreadystatechange || function () {};
        document.onreadystatechange = function (e) {
          prev(e);
          if (document.readyState !== "loading") {
            document.onreadystatechange = prev;
            handler();
          }
        };
      }
    })();
</script>
</body>

<!-- havetic -->
</html>
