{% extends "base/base.html" %}
{% load static %}
{% block title %}Product Details{% endblock title %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.min.css' %}" />
<!-- Start of Main -->
<main class="main mb-10 pb-1">
  <!-- Start of Breadcrumb -->
  <nav class="breadcrumb-nav container">
    <ul class="breadcrumb bb-no">
      <li><a href="{% url 'HOME' %}">Home</a></li>
      <li><a href="{% url 'shop_page' %}">Shop</a></li>
      <li>Products </li>
    </ul>
  </nav>
  <!-- End of Breadcrumb -->

  <!-- Start of Page Content -->
  <div class="page-content">
    <div class="container">
      <div class="product product-single row">
        <div class="col-md-6 mb-6">
          <div class="product-gallery product-gallery-sticky product-gallery-vertical">

            <div class="swiper-container product-single-swiper swiper-theme nav-inner" data-swiper-options="{
                                'navigation': {
                                    'nextEl': '.swiper-button-next',
                                    'prevEl': '.swiper-button-prev'
                                }
                            }">
              <div class="swiper-wrapper row cols-1 gutter-no">

                <div class="swiper-slide">
                  <figure class="product-image">
                    <img src="{{product.image.url}}" data-zoom-image="{{product.image.url}}" alt="Bright Green IPhone"
                      width="800" height="900" />
                  </figure>
                </div>
                

                <div class="swiper-slide">
                  <figure class="product-image">
                    <img src="{{product.pdsliderimg1.url}}"
                      data-zoom-image="{{product.pdsliderimg1.url}}" alt="Bright Green IPhone"
                      width="488" height="549" />
                  </figure>
                </div>

                <div class="swiper-slide">
                  <figure class="product-image">
                    <img src="{{product.pdsliderimg2.url}}"
                      data-zoom-image="{{product.pdsliderimg2.url}}" alt="Bright Green IPhone"
                      width="800" height="900" />
                  </figure>
                </div>

                <div class="swiper-slide">
                  <figure class="product-image">
                    <img src="{{product.pdsliderimg3.url}}" data-zoom-image="{{product.pdsliderimg3.url}}" alt="Bright Green IPhone"
                      width="800" height="900" />
                  </figure>
                </div>

              </div>
              <button class="swiper-button-next"></button>
              <button class="swiper-button-prev"></button>
              <a href="#" class="product-gallery-btn product-image-full"><i class="w-icon-zoom"></i></a>
            </div>

            <div class="product-thumbs-wrap swiper-container" data-swiper-options="{
                                'navigation': {
                                    'nextEl': '.swiper-button-next',
                                    'prevEl': '.swiper-button-prev'
                                },
                                'breakpoints': {
                                    '992': {
                                        'direction': 'vertical',
                                        'slidesPerView': 'auto'
                                    }
                                }
                            }">
              <div class="product-thumbs swiper-wrapper row cols-lg-1 cols-4 gutter-sm">
                <div class="product-thumb swiper-slide">
                  <img src="{{product.image.url}}" alt="Product Thumb" width="800"
                    height="900" />
                </div>
                <div class="product-thumb swiper-slide">
                  <img src="{{product.pdsliderimg1.url}}" alt="Product Thumb" width="800"
                    height="900" />
                </div>
                <div class="product-thumb swiper-slide">
                  <img src="{{product.pdsliderimg2.url}}" alt="Product Thumb" width="800"
                    height="900" />
                </div>
                <div class="product-thumb swiper-slide">
                  <img src="{{product.pdsliderimg3.url}}" alt="Product Thumb" width="800"
                    height="900" />
                </div>
              </div>
              <button class="swiper-button-prev"></button>
              <button class="swiper-button-next"></button>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-6">
          <div class="product-details">
            <h1 class="product-title">{{product.name}}</h1>
            <div class="product-bm-wrapper">
              <figure class="brand">
                <img src="{{product.brand.url}}" alt="Brand" width="105"
                  height="48" />
              </figure>
              <div class="product-meta">
                <div class="product-categories">
                  Category:
                  <span class="product-category"><a href="#">{{product.category|capfirst}}</a></span>
                </div>
                <div class="product-sku">
                  SKU: <span>{{product.sku}}</span>
                </div>
              </div>
            </div>

            <hr class="product-divider" />

            <div class="product-price">
              <ins class="new-price">BDT. {{product.price}}</ins>
            </div>

            <div class="ratings-container">
              <div class="ratings-full">
                <span class="ratings" style="width: 80%"></span>
                <span class="tooltiptext tooltip-top"></span>
              </div>
              <a href="#" class="rating-reviews">({{product.review}} Reviews)</a>
            </div>

            <div class="product-short-desc lh-2">
              {{product.sort_description|safe}}
            </div>

            <hr class="product-divider" />

            <div class="sticky-content-wrapper">
              <div>
                <div class="product-form container">
                  <div class="product-qty-form with-label">
                    <label>Quantity:</label>
                    <div class="input-group">
                      <input class="quantity_ form-control" type="number" id="quantity" value="{{cart_quantity}}"/>
                      <button class="quantity_plus w-icon-plus"></button>
                      <button class="quantity_minus w-icon-minus"></button>
                    </div>
                  </div>

                  <input hidden name="addtocard" type="text" value="{{product.id}}" id="productid">

                  {% csrf_token %}


                  <button id="addtocart" class="btn btn-primary btn-cart">
                    <i class="w-icon-cart"></i>
                    <span>Add to Cart</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="social-links-wrapper">
              <div class="social-links">
                <div class="social-icons social-no-color border-thin">
                  <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                  <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                  <a href="#" class="social-icon social-pinterest fab fa-pinterest-p"></a>
                  <a href="#" class="social-icon social-whatsapp fab fa-whatsapp"></a>
                  <a href="#" class="social-icon social-youtube fab fa-linkedin-in"></a>
                </div>
              </div>
              <span class="divider d-xs-show"></span>
              <div class="product-link-wrapper d-flex">
                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"><span></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab tab-nav-boxed tab-nav-underline product-tabs mt-3">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a href="#product-tab-description" class="nav-link active">Description</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="product-tab-description">
            <div class="row mb-4">
              <div class="col-12">
                {{product.description|safe}}
              </div>
            </div>
          </div>

          {% comment %} <div class="tab-pane" id="product-tab-reviews">
            <div class="row mb-4">
              <div class="col-xl-4 col-lg-5 mb-4">
                <div class="ratings-wrapper">
                  <div class="avg-rating-container">
                    <h4 class="avg-mark font-weight-bolder ls-50">3.3</h4>
                    <div class="avg-rating">
                      <p class="text-dark mb-1">Average Rating</p>
                      <div class="ratings-container">
                        <div class="ratings-full">
                          <span class="ratings" style="width: 60%"></span>
                          <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a href="#" class="rating-reviews">(3 Reviews)</a>
                      </div>
                    </div>
                  </div>
                  <div class="ratings-value d-flex align-items-center text-dark ls-25">
                    <span class="text-dark font-weight-bold">66.7%</span>Recommended<span class="count">(2 of 3)</span>
                  </div>
                  <div class="ratings-list">
                    <div class="ratings-container">
                      <div class="ratings-full">
                        <span class="ratings" style="width: 100%"></span>
                        <span class="tooltiptext tooltip-top"></span>
                      </div>
                      <div class="progress-bar progress-bar-sm">
                        <span></span>
                      </div>
                      <div class="progress-value">
                        <mark>70%</mark>
                      </div>
                    </div>
                    <div class="ratings-container">
                      <div class="ratings-full">
                        <span class="ratings" style="width: 80%"></span>
                        <span class="tooltiptext tooltip-top"></span>
                      </div>
                      <div class="progress-bar progress-bar-sm">
                        <span></span>
                      </div>
                      <div class="progress-value">
                        <mark>30%</mark>
                      </div>
                    </div>
                    <div class="ratings-container">
                      <div class="ratings-full">
                        <span class="ratings" style="width: 60%"></span>
                        <span class="tooltiptext tooltip-top"></span>
                      </div>
                      <div class="progress-bar progress-bar-sm">
                        <span></span>
                      </div>
                      <div class="progress-value">
                        <mark>40%</mark>
                      </div>
                    </div>
                    <div class="ratings-container">
                      <div class="ratings-full">
                        <span class="ratings" style="width: 40%"></span>
                        <span class="tooltiptext tooltip-top"></span>
                      </div>
                      <div class="progress-bar progress-bar-sm">
                        <span></span>
                      </div>
                      <div class="progress-value">
                        <mark>0%</mark>
                      </div>
                    </div>
                    <div class="ratings-container">
                      <div class="ratings-full">
                        <span class="ratings" style="width: 20%"></span>
                        <span class="tooltiptext tooltip-top"></span>
                      </div>
                      <div class="progress-bar progress-bar-sm">
                        <span></span>
                      </div>
                      <div class="progress-value">
                        <mark>0%</mark>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-lg-7 mb-4">
                <div class="review-form-wrapper">
                  <h3 class="title tab-pane-title font-weight-bold mb-1">
                    Submit Your Review
                  </h3>
                  <p class="mb-3">
                    Your email address will not be published. Required
                    fields are marked *
                  </p>
                  <form action="#" method="POST" class="review-form">
                    <div class="rating-form">
                      <label for="rating">Your Rating Of This Product :</label>
                      <span class="rating-stars">
                        <a class="star-1" href="#">1</a>
                        <a class="star-2" href="#">2</a>
                        <a class="star-3" href="#">3</a>
                        <a class="star-4" href="#">4</a>
                        <a class="star-5" href="#">5</a>
                      </span>
                      <select name="rating" id="rating" required="" style="display: none">
                        <option value="">Rate…</option>
                        <option value="5">Perfect</option>
                        <option value="4">Good</option>
                        <option value="3">Average</option>
                        <option value="2">Not that bad</option>
                        <option value="1">Very poor</option>
                      </select>
                    </div>
                    <textarea cols="30" rows="6" placeholder="Write Your Review Here..." class="form-control"
                      id="review"></textarea>
                    <div class="row gutter-md">
                      <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Your Name" id="author" />
                      </div>
                      <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Your Email" id="email_1" />
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="checkbox" class="custom-checkbox" id="save-checkbox" />
                      <label for="save-checkbox">Save my name, email, and website in this browser
                        for the next time I comment.</label>
                    </div>
                    <button type="submit" class="btn btn-dark">
                      Submit Review
                    </button>
                  </form>
                </div>
              </div>
            </div>

            <div class="tab tab-nav-boxed tab-nav-outline tab-nav-center">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a href="#show-all" class="nav-link active">Show All</a>
                </li>
                <li class="nav-item">
                  <a href="#helpful-positive" class="nav-link">Most Helpful Positive</a>
                </li>
                <li class="nav-item">
                  <a href="#helpful-negative" class="nav-link">Most Helpful Negative</a>
                </li>
                <li class="nav-item">
                  <a href="#highest-rating" class="nav-link">Highest Rating</a>
                </li>
                <li class="nav-item">
                  <a href="#lowest-rating" class="nav-link">Lowest Rating</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="show-all">
                  <ul class="comments list-style-none">
                    <li class="comment">
                      <div class="comment-body">
                        <figure class="comment-avatar">
                          <img src="assets/images/agents/1-100x100.png" alt="Commenter Avatar" width="90" height="90" />
                        </figure>
                        <div class="comment-content">
                          <h4 class="comment-author">
                            <a href="#">John Doe</a>
                            <span class="comment-date">March 22, 2021 at 1:54 pm</span>
                          </h4>
                          <div class="ratings-container comment-rating">
                            <div class="ratings-full">
                              <span class="ratings" style="width: 60%"></span>
                              <span class="tooltiptext tooltip-top"></span>
                            </div>
                          </div>
                          <p>
                            pellentesque habitant morbi tristique senectus
                            et. In dictum non consectetur a erat. Nunc
                            ultrices eros in cursus turpis massa tincidunt
                            ante in nibh mauris cursus mattis. Cras ornare
                            arcu dui vivamus arcu felis bibendum ut
                            tristique.
                          </p>
                          <div class="comment-action">
                            <a href="#"
                              class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-up"></i>Helpful (1)
                            </a>
                            <a href="#"
                              class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-down"></i>Unhelpful
                              (0)
                            </a>
                            <div class="review-image">
                              <a href="#">
                                <figure>
                                  <img src="assets/images/products/default/review-img-1.jpg" width="60" height="60"
                                    alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                    data-zoom-image="assets/images/products/default/review-img-1-800x900.jpg" />
                                </figure>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="comment">
                      <div class="comment-body">
                        <figure class="comment-avatar">
                          <img src="assets/images/agents/2-100x100.png" alt="Commenter Avatar" width="90" height="90" />
                        </figure>
                        <div class="comment-content">
                          <h4 class="comment-author">
                            <a href="#">John Doe</a>
                            <span class="comment-date">March 22, 2021 at 1:52 pm</span>
                          </h4>
                          <div class="ratings-container comment-rating">
                            <div class="ratings-full">
                              <span class="ratings" style="width: 80%"></span>
                              <span class="tooltiptext tooltip-top"></span>
                            </div>
                          </div>
                          <p>
                            Nullam a magna porttitor, dictum risus nec,
                            faucibus sapien. Ultrices eros in cursus
                            turpis massa tincidunt ante in nibh mauris
                            cursus mattis. Cras ornare arcu dui vivamus
                            arcu felis bibendum ut tristique.
                          </p>
                          <div class="comment-action">
                            <a href="#"
                              class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-up"></i>Helpful (1)
                            </a>
                            <a href="#"
                              class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-down"></i>Unhelpful
                              (0)
                            </a>
                            <div class="review-image">
                              <a href="#">
                                <figure>
                                  <img src="assets/images/products/default/review-img-2.jpg" width="60" height="60"
                                    alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                    data-zoom-image="assets/images/products/default/review-img-2.jpg" />
                                </figure>
                              </a>
                              <a href="#">
                                <figure>
                                  <img src="assets/images/products/default/review-img-3.jpg" width="60" height="60"
                                    alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                    data-zoom-image="assets/images/products/default/review-img-3.jpg" />
                                </figure>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="comment">
                      <div class="comment-body">
                        <figure class="comment-avatar">
                          <img src="assets/images/agents/3-100x100.png" alt="Commenter Avatar" width="90" height="90" />
                        </figure>
                        <div class="comment-content">
                          <h4 class="comment-author">
                            <a href="#">John Doe</a>
                            <span class="comment-date">March 22, 2021 at 1:21 pm</span>
                          </h4>
                          <div class="ratings-container comment-rating">
                            <div class="ratings-full">
                              <span class="ratings" style="width: 60%"></span>
                              <span class="tooltiptext tooltip-top"></span>
                            </div>
                          </div>
                          <p>
                            In fermentum et sollicitudin ac orci
                            phasellus. A condimentum vitae sapien
                            pellentesque habitant morbi tristique senectus
                            et. In dictum non consectetur a erat. Nunc
                            scelerisque viverra mauris in aliquam sem
                            fringilla.
                          </p>
                          <div class="comment-action">
                            <a href="#"
                              class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-up"></i>Helpful (0)
                            </a>
                            <a href="#"
                              class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-down"></i>Unhelpful
                              (1)
                            </a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="tab-pane" id="helpful-positive">
                  <ul class="comments list-style-none">
                    <li class="comment">
                      <div class="comment-body">
                        <figure class="comment-avatar">
                          <img src="assets/images/agents/1-100x100.png" alt="Commenter Avatar" width="90" height="90" />
                        </figure>
                        <div class="comment-content">
                          <h4 class="comment-author">
                            <a href="#">John Doe</a>
                            <span class="comment-date">March 22, 2021 at 1:54 pm</span>
                          </h4>
                          <div class="ratings-container comment-rating">
                            <div class="ratings-full">
                              <span class="ratings" style="width: 60%"></span>
                              <span class="tooltiptext tooltip-top"></span>
                            </div>
                          </div>
                          <p>
                            pellentesque habitant morbi tristique senectus
                            et. In dictum non consectetur a erat. Nunc
                            ultrices eros in cursus turpis massa tincidunt
                            ante in nibh mauris cursus mattis. Cras ornare
                            arcu dui vivamus arcu felis bibendum ut
                            tristique.
                          </p>
                          <div class="comment-action">
                            <a href="#"
                              class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-up"></i>Helpful (1)
                            </a>
                            <a href="#"
                              class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-down"></i>Unhelpful
                              (0)
                            </a>
                            <div class="review-image">
                              <a href="#">
                                <figure>
                                  <img src="assets/images/products/default/review-img-1.jpg" width="60" height="60"
                                    alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                    data-zoom-image="assets/images/products/default/review-img-1.jpg" />
                                </figure>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="comment">
                      <div class="comment-body">
                        <figure class="comment-avatar">
                          <img src="assets/images/agents/2-100x100.png" alt="Commenter Avatar" width="90" height="90" />
                        </figure>
                        <div class="comment-content">
                          <h4 class="comment-author">
                            <a href="#">John Doe</a>
                            <span class="comment-date">March 22, 2021 at 1:52 pm</span>
                          </h4>
                          <div class="ratings-container comment-rating">
                            <div class="ratings-full">
                              <span class="ratings" style="width: 80%"></span>
                              <span class="tooltiptext tooltip-top"></span>
                            </div>
                          </div>
                          <p>
                            Nullam a magna porttitor, dictum risus nec,
                            faucibus sapien. Ultrices eros in cursus
                            turpis massa tincidunt ante in nibh mauris
                            cursus mattis. Cras ornare arcu dui vivamus
                            arcu felis bibendum ut tristique.
                          </p>
                          <div class="comment-action">
                            <a href="#"
                              class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-up"></i>Helpful (1)
                            </a>
                            <a href="#"
                              class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-down"></i>Unhelpful
                              (0)
                            </a>
                            <div class="review-image">
                              <a href="#">
                                <figure>
                                  <img src="assets/images/products/default/review-img-2.jpg" width="60" height="60"
                                    alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                    data-zoom-image="assets/images/products/default/review-img-2-800x900.jpg" />
                                </figure>
                              </a>
                              <a href="#">
                                <figure>
                                  <img src="assets/images/products/default/review-img-3.jpg" width="60" height="60"
                                    alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                    data-zoom-image="assets/images/products/default/review-img-3-800x900.jpg" />
                                </figure>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="tab-pane" id="helpful-negative">
                  <ul class="comments list-style-none">
                    <li class="comment">
                      <div class="comment-body">
                        <figure class="comment-avatar">
                          <img src="assets/images/agents/3-100x100.png" alt="Commenter Avatar" width="90" height="90" />
                        </figure>
                        <div class="comment-content">
                          <h4 class="comment-author">
                            <a href="#">John Doe</a>
                            <span class="comment-date">March 22, 2021 at 1:21 pm</span>
                          </h4>
                          <div class="ratings-container comment-rating">
                            <div class="ratings-full">
                              <span class="ratings" style="width: 60%"></span>
                              <span class="tooltiptext tooltip-top"></span>
                            </div>
                          </div>
                          <p>
                            In fermentum et sollicitudin ac orci
                            phasellus. A condimentum vitae sapien
                            pellentesque habitant morbi tristique senectus
                            et. In dictum non consectetur a erat. Nunc
                            scelerisque viverra mauris in aliquam sem
                            fringilla.
                          </p>
                          <div class="comment-action">
                            <a href="#"
                              class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-up"></i>Helpful (0)
                            </a>
                            <a href="#"
                              class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-down"></i>Unhelpful
                              (1)
                            </a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="tab-pane" id="highest-rating">
                  <ul class="comments list-style-none">
                    <li class="comment">
                      <div class="comment-body">
                        <figure class="comment-avatar">
                          <img src="assets/images/agents/2-100x100.png" alt="Commenter Avatar" width="90" height="90" />
                        </figure>
                        <div class="comment-content">
                          <h4 class="comment-author">
                            <a href="#">John Doe</a>
                            <span class="comment-date">March 22, 2021 at 1:52 pm</span>
                          </h4>
                          <div class="ratings-container comment-rating">
                            <div class="ratings-full">
                              <span class="ratings" style="width: 80%"></span>
                              <span class="tooltiptext tooltip-top"></span>
                            </div>
                          </div>
                          <p>
                            Nullam a magna porttitor, dictum risus nec,
                            faucibus sapien. Ultrices eros in cursus
                            turpis massa tincidunt ante in nibh mauris
                            cursus mattis. Cras ornare arcu dui vivamus
                            arcu felis bibendum ut tristique.
                          </p>
                          <div class="comment-action">
                            <a href="#"
                              class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-up"></i>Helpful (1)
                            </a>
                            <a href="#"
                              class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-down"></i>Unhelpful
                              (0)
                            </a>
                            <div class="review-image">
                              <a href="#">
                                <figure>
                                  <img src="assets/images/products/default/review-img-2.jpg" width="60" height="60"
                                    alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                    data-zoom-image="assets/images/products/default/review-img-2-800x900.jpg" />
                                </figure>
                              </a>
                              <a href="#">
                                <figure>
                                  <img src="assets/images/products/default/review-img-3.jpg" width="60" height="60"
                                    alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                    data-zoom-image="assets/images/products/default/review-img-3-800x900.jpg" />
                                </figure>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="tab-pane" id="lowest-rating">
                  <ul class="comments list-style-none">
                    <li class="comment">
                      <div class="comment-body">
                        <figure class="comment-avatar">
                          <img src="assets/images/agents/1-100x100.png" alt="Commenter Avatar" width="90" height="90" />
                        </figure>
                        <div class="comment-content">
                          <h4 class="comment-author">
                            <a href="#">John Doe</a>
                            <span class="comment-date">March 22, 2021 at 1:54 pm</span>
                          </h4>
                          <div class="ratings-container comment-rating">
                            <div class="ratings-full">
                              <span class="ratings" style="width: 60%"></span>
                              <span class="tooltiptext tooltip-top"></span>
                            </div>
                          </div>
                          <p>
                            pellentesque habitant morbi tristique senectus
                            et. In dictum non consectetur a erat. Nunc
                            ultrices eros in cursus turpis massa tincidunt
                            ante in nibh mauris cursus mattis. Cras ornare
                            arcu dui vivamus arcu felis bibendum ut
                            tristique.
                          </p>
                          <div class="comment-action">
                            <a href="#"
                              class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-up"></i>Helpful (1)
                            </a>
                            <a href="#"
                              class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                              <i class="far fa-thumbs-down"></i>Unhelpful
                              (0)
                            </a>
                            <div class="review-image">
                              <a href="#">
                                <figure>
                                  <img src="assets/images/products/default/review-img-3.jpg" width="60" height="60"
                                    alt="Attachment image of John Doe's review on Electronics Black Wrist Watch"
                                    data-zoom-image="assets/images/products/default/review-img-3-800x900.jpg" />
                                </figure>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div> {% endcomment %}

        </div>
      </div>
    </div>
  </div>
  <!-- End of Page Content -->
</main>
<!-- End of Main -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('.quantity_plus').click(function() {
      // Get the current value of the input
      var currentValue = parseInt($('.quantity_').val()) || 0;
      // Increment the value
      currentValue++;
      // Update the input with the new value
      $('.quantity_').val(currentValue);


      // Enable the minus button
      $('.quantity_minus').removeClass('disabled');
    });

    $('.quantity_minus').click(function() {
      // Get the current value of the input
      var currentValue = parseInt($('.quantity_').val()) || 0;

      // Ensure the value doesn't go below 1
      if (currentValue > 1) {
        // Decrement the value
        currentValue--;

        // Update the input with the new value
        $('.quantity_').val(currentValue);
      }

      // Disable the minus button if the value is 1
      if (currentValue === 1) {
        $('.quantity_minus').addClass('disabled');
      }
    });
  });
</script>
<script>
  $("#addtocart").on('click', function () {
    var productId = $("#productid").val();
    
    var productquantity = $("#quantity").val();
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    data = {
      'productId': productId,
      'quantity': productquantity,
    }
    $.ajax({
      url: window.location.href,
      type: 'POST',
      headers: {
        "X-CSRFToken": csrftoken
      },
      data: {
        'productId': productId,
        'quantity': productquantity,
      },
      success: function (res) {
        if (res.status == "success") {
          cartalert.removeClass("d-none")
          setTimeout(function () {
            cartalert.addClass("d-none");
            location.reload();
          }, 1000);
        }

      },
    });
  })
</script> 

{% endblock body %}